@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --header--height:3.5em;
    /*==========Colors===========*/
    /* Color mode HSL (hue, saturation, lightness)*/
    --first-color: hsl(228, 85%, 63%);
    --title-color: hsl(228, 18%, 16%);
    --text-color: hsl(228, 8%, 56%);
    --body-color: hsl(228, 100%, 99%);
    --shadow-color: hsl(228, 80%, 4%, .1);
    /* Color mode HSL (hue, saturation, lightness)*/
    --body-font:"Nunito Sans", sans-serif;
    --normal-font-size: .938rem;
    --smaller-font-size: .75em;
    --tiny-font-size: .75em;

    --font-regular: 400;
    --font-semi-bold: 800;


    --z-tooltip:10;
    --z-fixed: 100;
}

@media screen and (min-width: 1150px){
    :root {
        --normal-font-size : 1rem;
        --smaller-font-size:.813rem
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.dashboardBody{
    display: flex;
    justify-content: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-fixed);
    margin: .75rem;
}
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header--height);
    background-color: var(--body-color);
    box-shadow:  0 2px 24px  var(--shadow-color);
}

.headerLogo {
    display: flex;
    justify-content: space-between;
}
.headerToggle{
    display:none;
}
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: var(--z-fixed);
    width: 288px;
    background-color: var(--body-color);
    box-shadow:  0 2px 24px  var(--shadow-color);
    transition: left .4s , background-color .4s, width .4s;
}
.sidebarContainer .sidebarContent{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.userSection img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.userSection {
    display: flex;
    justify-content: center;
    gap: 10px;
}